body {
    background-color: #2b2b2b;
    color: #fefbd8;
    font-size: 20px;
}

#logo {
    color: #fefbd8;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
}

#text_input {
    width: 300px;
    padding: 10px;
    color: white;
    background-color: #888984;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text_box {
    margin: 10px;
    width: 800px;
    height: 200px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#txt {
    margin: 20px;
    color: #fefbd8;
}

#menu_box {
    margin: 10px;
    width: 800px;
    height: 40px;
    border-radius: 20px;
    background-color: #1e2022;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_box a {
  display: inline-block;
  margin: 25px;
  color: #fefbd8;
  text-decoration: none;
}

.correct {
    color: #67b14c;
}

.wrong {
    color: #e20711;
}

.warn{
    background-color: #ffa70d;
}

#road{
    margin:auto;
    margin-top: 80px;
    background-image: url("images/road/road.jpg");
    background-size: contain;
    width: 1000px;
    height: 250px;
}
#player, #bot{
    display: block;
    width: 200px;
    position: relative;
}
#player{
    top: 30%;
    transition: left 1s;
}

#player_car{
    background-image: url("images/car/car_blue.png");
    background-size: contain;
    width: 150px;
    height: 47px;
}

#player_name{
    left:55px;
    position: relative;
}

#bot{
    top: 15%;
}

#bot_car{
    background-image: url("images/car/car_green.png");
    background-size: contain;
    width: 150px;
    height: 47px;
}

#bot_name{
    left:55px;
    position: relative;
}

#lost, #overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #1e1e1e;
    display: inline-block;
    transform: translate(-50%, -50%);
}

#overlay{
    z-index: 9999;
    height: 745px;
}

#lost {
    text-align: center;
    font-size: 110px;
    height: 200px;
    width: 580px;
    margin: auto;
    z-index: 999;
}


#chart{
    display: inline-block;
    width: 1000px;
}


#chart{
    display: inline-block;
    width: 1000px;
}

.stats_header {
    text-align: center;
}

.wpm_text {
    font-size: bold;
    margin: 10 20px;
}

#ok {
  margin: 10px;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  color: grey;
  height: 35px;
}

.radio_button {
    margin-right: 50px;
    margin-right: 10px;
  }

#history{
    float: right;
}