body {
    background-color: #2b2b2b;
    color: #fefbd8;
    font-size: 20px;
}

#logo {
    color: #fefbd8;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
}

#text_input {
    width: 300px;
    padding: 10px;
    color: white;
    background-color: #888984;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#text_box {
    margin: 10px;
    width: 800px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#txt {
    margin: 20px
    color: #fefbd8;
}

#menu_box {
    margin: 10px;
    width: 800px;
    height: 40px;
    border-radius: 20px;
    background-color: #1e2022;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_box a {
  display: inline-block;
  margin: 10 25px;
  color: #fefbd8;
  text-decoration: none;
  pointer: cursor;
}

#menu_box button {
  margin: 10px;
  background-color: transparent;
  border: none;
  color: #fefbd8;
}

.correct {
    color: #67b14c;
}

.wrong {
    color: #e20711;
}

#overlay{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #1e1e1e;
    width: 600px;
    height: 700px;
}

.stats_header {
    text-align: center;
}

.wpm_text {
    font-size: bold;
    margin: 10 20px;
}

#ok {
  margin: 10px;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  color: grey;
  height: 35px;
}